body {
    width: 95%;
    margin: auto;

    /*font-size: 17px;*/
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Fira Code', monospace;
    /* color: #5D6063; */

    background-color: #FFFFFF;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    min-width: 320px;
    max-width: 720px;
}

a:link {
    color: #5995DA;
    text-decoration: none;
}
a:visited {
    color: #407FC7;
} 
a:hover,
a:visited:hover {
    color: #76AEED;
    border-bottom: 1px solid #76AEED;
}
a:active,
a:visited:active {
    color: #5995DA;
}

/* --- Heading --- */

h1.title {
    font-weight: normal;
    font-size: 37px;
    line-height: 40px;
}

h2 {
    font-size: 31px;
    line-height: 41px;
    width: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Harman Retro';*/
    font-family: 'Fira Code', monospace;
}

/*
h2:after {
    content: '';
    border-top: 1px solid #959BA0;
    height: 1px;
    width: 100%;
    display: block;
    position: relative;
    top: -21px;
    z-index: -1;
}
*/


.figure {
    width: 100%;
    margin: auto;
}

#postamble {
    text-align: center;
}

pre.src {
    overflow: auto !important;
}

pre.src::before {
    top: 10px !important;
}

/*
div.theorem::before {
    content: "THM";
    font-weight: bold;
    display: inline;
}
*/

div.yt-video-container {
    width: 100% !important;
    max-width: 600px;
    min-height: 400px !important;
    margin: auto;
}

div.yt-video-container iframe {
    width: 100% !important;
    min-height: 400px !important;
}
